@use "../helpers" as *;

.field {
  display: grid;
  row-gap: rem(5);

  &__control {
    border-radius: rem(6);
    padding: rem(10);
    border: rem(1) solid var(--color-gray-light);
    font-weight: 500;
    color: var(--color-blue-marine);

    &:hover, 
    &:focus-visible {
      outline: rem(1);
      border-color: var(--color-blue-purplish);
    }
  }
}
